<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="$!default('''page.section['citationTitle']''',page.info.title)!$ – The Ajahn Pasanno Question and Story Archive">
  <meta name="keywords" content="$!', '.join(page.keywords)!$">
  <meta name="author" content="Abhayagiri Buddhist Monastery">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>$!page.info.title!$</title>
<!--(if page.gOptions.blockRobots)-->
  <meta name="robots" content="noindex, nofollow" />
<!--(end)-->

<link rel="stylesheet" href="../style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap">
    
</head>
<body>
  <!--(if page.gOptions.redirectToJavascript)-->
    <script>
      const agent = window.navigator.userAgent;
      const botUsers = ['googlebot','bingbot','linkedinbot','duckduckbot','mediapartners-google','lighthouse','insights'];
      let isBotUserAgent = false;
      for (bot of botUsers){
        if (agent.toLowerCase().indexOf(bot.toLowerCase()) !== -1){
          isBotUserAgent = true;
          break;
        }
      }

      url = new URL(location.href)
      if (url.protocol != "file:" && !isBotUserAgent) {
        location.replace("../index.html#$!page.info.file!$" + url.search + url.hash);
      }
    </script>
  <!--(else)-->
    <span id="javascript-link">
      <a href="../index.html#$!page.info.file!$">Enable floating audio player (Javascript)</a>
      <br>
    </span>
  <!--(end)-->

<!--(if not page.HasSection("customLayout"))-->
  <!--(if page.HasSection("subMenu"))-->
    <div class="sublink hide-thin-screen-1">
      $!page.section["subMenu"].Render()!$
    </div>
  <!--(end)-->
  <!--(if page.HasSection("customSubMenu"))-->
    $!page.section["customSubMenu"].Render()!$
  <!--(end)-->

  <!--(if page.info.titleInBody)-->
    <div class="title" id="page-title">$!page.info.titleInBody!$
      <!--(if page.HasSection("smallTitle"))-->
        &nbsp&nbsp<span style="font-size:65%;">$!page.section["smallTitle"]!$</span>
      <!--(end)-->
    </div>
  <!--(end)-->

  <div class="main">
  $!page.RenderNumberedSections()!$
  </div>
<!--(else)-->
  $!page.RenderNumberedSections()!$
<!--(end)-->

</body>
</html>