<div>

<form id="text-search-form">
<input type="text" id="search-text" placeholder="Search for text..."/>

<br><br>
<button type="submit" id="search-all-button">Search all</button>
<button type="button" id="search-x-button">Search excerpts</button>
<button type="button" id="search-ref-button">Reference search</button>
<!-- Extra search buttons clutter the interface.
<button type="button" id="search-multi-tag-button">Search tags</button>
<button type="button" id="search-t-button">Search teachers</button>
<button type="button" id="search-e-button">Search events</button> -->
</form>

<p id="message" style="display:none;"></p>

<p id="instructions">
Search excerpt text, teachers, and tags<br>
Search for whole words and phrases using quotation marks: "Wat Pah Pong"<br>
Search for tags using brackets: [Happiness]<br>
Search for teachers using braces: {Ajahn Karunadhammo}<br>
<a href="../about/Search-instructions.html">More information</a>
</p>

<span id="results"></span>
</div>