audio/**/*.mp3
audio/**/*.MP3
audio/**/*.Mp3
python/**/*.mp3

tools/mp3DirectCut/
*__pycache__
*.DS_Store
.venv/
.venv3.9/
python/config/LocalDefault.args
*_.json

referencesNoUpload/
sutta/suttaplex/raw