body {
	background-color: #fefeff;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	margin-left: 30px;
	margin-right: 30px;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	max-width: 1500px;
	margin: 0 auto;
}

.left-column {
	flex: 0 0 900px;
	/* Change this value to adjust the left column width */
	padding: 30px;
	border-right: 1px solid #ccc;
}

.right-column {
	flex: 1;
	padding: 20px;
	background-color: #fcfcfc;
}

/* Header */
#header {
	position: relative;
	background-repeat: no-repeat;
	background-image: url("./images/sky.jpg");
	background-position: left center;
	background-size: 1500px;
	background-color: #f5f4f0;
	color: rgb(58, 56, 56);
	text-align: center;
	padding: 1em;
	font-size: 1em;
	font-weight: 300;
	font-family: "Roboto", sans-serif;
	border-radius: 0 0 10px 10px;
}

header h1 {
	margin-bottom: 30px;
}

header a {
	display: inline-block;
	margin-right: 20px;
	color: #333332;
}

header a:hover {
	color: #c7a630;
}

/* Main Header */
#main-header {
	position: relative;
	background-color: #f5eed9;
	color: rgb(30, 29, 29);
	text-align: center;
	padding: 1em;
	font-size: 1em;
	font-weight: 300;
	font-family: "Roboto", sans-serif;
}

/* Style the back link */
.back-link {
	text-align: right;
	font-size: 16px;
	margin: 0;
}

.back-link a {
	text-decoration: none;
	color: #333;
	transition: color 0.2s ease-in-out;
}

.back-link a:hover {
	color: #c7a630;
}


#topnav a {
	text-decoration: none;
	color: rgb(30, 29, 29);
	text-align: center;
	padding: 0.4em;
	font-size: 1.1em;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
	transition: border-bottom 0.2s ease-in-out;
	/* Add a smooth transition for the underline effect */
	margin-right: 10px;
}

#topnav a:hover {
	color: #7c7367;
	text-decoration: none;
}

#topnav a.active {
	color: #7c7367;
	border-bottom: 1px dotted #a28a4e;
	/* Adjust the width (1px) as needed */
}


hr {
	border: none;
	border-top: 2px solid #909294;
	margin: 20px 0;
}

/* menu between header and title bar*/
.sublink {
	display: flex;
	justify-content: center;
	margin-left: 20px;
}

.sublink a {
	text-decoration: none;
	color: rgb(74, 75, 76);
	text-align: center;
	padding: 0.4em;
	font-size: 1em;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
	transition: border-bottom 0.2s ease-in-out;
	margin-right: 10px;
}

.sublink a:hover {
	color: #a28a4e;
	text-decoration: none;
}

.sublink a.active {
	color: #a28a4e;
	border-bottom: 1px dotted #a28a4e;
}

/* sublink2 for menus below title bar */
.sublink2 {
	display: flex;
	justify-content: left;
}

.sublink2 a {
	text-decoration: none;
	color: rgb(74, 75, 76);
	text-align: center;
	padding: 0.4em;
	font-size: 1em;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
	transition: border-bottom 0.2s ease-in-out;
	margin-right: 10px;
}

.sublink2 a:hover {
	color: #a28a4e;
	text-decoration: none;
}

.sublink2 a.active {
	color: #a28a4e;
	border-bottom: 1px dotted #a28a4e;
}

/* Media query for mobile screens */
@media screen and (max-width: 767px) {
	.sublink {
		flex-direction: column;
		align-items: center;
	}

	.sublink a {
		margin-right: 0;
		/* Remove right margin on smaller screens for better spacing */
	}

	.sublink2 {
		flex-direction: column;
		align-items: center;
	}

	.sublink2 a {
		margin-right: 0;
		/* Remove right margin on smaller screens for better spacing */
	}
}


/* Style the bold links (inside <b> tags) */
.sublink b a {
	font-weight: 600;
	/* Apply a slightly thicker font weight for bold links */
}

/* Floating menus */
.floating-menu {
	float: right;
}

/* Text */
p {
	margin: 0 auto;
	max-width: 1200px;
	padding: 15px;
	font-size: 18px;
	color: #333;
	line-height: 1.6;
	font-family: "Georgia", serif;
}

p.smaller {
	font-family: "Roboto", sans-serif;
	font-size: 1em;
}

p.x-cite {
	font-size: 1em;
	font-style: italic;
	text-align: right;
	padding-top: 0;
	padding-bottom: 0;
}

p.indent-0 {
	margin-left: 0em;
}
p.indent-1 {
	margin-left: 2em;
}
p.indent-2 {
	margin-left: 4em;
}
p.indent-3 {
	margin-left: 6em;
}
p.indent-4 {
	margin-left: 8em;
}
p.indent-5 {
	margin-left: 10em;
}
p.indent-6 {
	margin-left: 12em;
}
p.indent-7 {
	margin-left: 14em;
}

ul,
ol {
	font-size: 18px;
	color: #333;
	line-height: 1.6;
	font-family: "Georgia", serif;
}

/* Reduce line spacing within long lists */
div.listing p {
	padding: 8px;
}

div.featured {
	border-left: 3px solid #a28a4e;

	button#playFeatured {
		height: 40px;
		width: 40px;
		border-radius: 0.4rem;
		border: none;
		margin-right: 7px;

		background: url(assets/play.svg) center no-repeat;
		background-size: 40%;
		background-color: #f0f0f0;
		cursor: pointer;
		vertical-align: middle;
	}
}

div.featured p,
div {
	padding-left: 20px;
}

div.no-padding {
	padding: 0px;
}

.title {
	font-size: 1.3em;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	margin-bottom: 1em;
	color: #a68b55;
	background-color: #f0f0f0;
	padding: 1.3rem 2.2rem;
	border-radius: 0.4rem;
	box-shadow: 0px 1px 1px #b5a26c;
	line-height: 1.8;
}

.track-title {
	font-size: 1em;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	margin-bottom: 1em;
	color: #a68b55;
	background-color: #f0f0f0;
	padding: 1rem 1rem;
	border-radius: 0.4rem;
	box-shadow: 0px 0px 0px #b5a26c;
	overflow: auto;
}

.title-right {
	font-size: 1.3em;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	max-width: 280px;
	margin-bottom: 1em;
	color: #3f3e3c;
	background-color: #f0f0f0;
	padding: 1rem 1rem;
	border-radius: 0.4rem;
	box-shadow: 0px 1px 1px #b5a26c;
}

.main {
	margin: 0 0 20px 10px;
	max-width: 1200px;
	color: #080808;
	padding: 10px;
	font-size: 16px;
	line-height: 1.5;
}

/* .intro::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 5%;
  background-image: url("https://www.abhayagiri.org/talks/8093/image/thumb.jpg");
  background-size: cover;
  margin-right: 10px;
} */

.info-box {
	background-color: #59aed6;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 10px;
}

/* List of page numbers for long pages */
p.page-list {
	font-size: 1em;
	font-family: "Roboto", sans-serif;
	padding: 15px;
	overflow: auto;
	margin-right: 20px;
}

p.page-list a.active {
	font-weight: bold;
	border-bottom: 1px dotted #a28a4e;
}

/* Headings */
h1,
h2,
h3,
h4,
h5 {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	line-height: 1.3;
	margin: 0 0 10px 0;
	margin-bottom: 0.5rem;
	margin-top: 0;
}

h1 {
	font-size: 1.8rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.2rem;
}

h4 {
	font-size: 1.1rem;
}

h5 {
	font-size: 1rem;
}

/* Style links */
a {
	color: #9b7030;
	text-decoration: none;
}

a:hover {
	color: #c7a630;
	text-decoration: none;

}

hr {
	border: 0;
	border-top: 1px solid #c0c0c0;
	/* Silver grey */
	margin: 1.5em 0;
}

/* Dashed border */
hr.dashed {
	border-top: 1px dashed #7c7a78e1;
	margin-left: 10px;
	width: 100%;
}

.image-div {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
}

.image-div img {
	width: 100%;
	height: auto;
	display: block;
}

footer {
	background-color: #f5f4f0;
	padding: 1em;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 0.8em;
	color: rgb(30, 29, 29);
}

p#cite-as {
	font-size: 1em;
}

/* form {
	background-color: #35373bdf;
	width: 300px;
	height: 44px;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
} */

input {
	/* all: unset; */
	font: 16px system-ui;
	padding: 6px 10px;
	width: 100%;
	/* color: #fff;
	height: 100%; */
}

/* ::placeholder {
	color: #fff;
	opacity: 0.7;
} */

svg {
	color: #fff;
	fill: currentColor;
	width: 24px;
	height: 24px;
	padding: 10px;
}

button {
	/* all: unset; */
	cursor: pointer;
	margin-right: 5px;
	/* width: 44px;
	height: 44px; */
}

img.cover {
	width: 50%;
	margin: auto;
	display: block;
	margin-bottom: 8px;
	border-radius: 8px;
}

img.small {
	width: 30%;
	margin: auto;
	display: block;
	margin-bottom: 8px;
	border-radius: 8px;
}